{% extends "base.html.twig" %}

{% block content %}
    <!-- Hero section -->
    <div class="section fp-auto-height" id="hero-section">
        <div class="section about-section about-one set-bg" data-setbg="{{ asset('img/slider/yoga-2600-1.png') }}">
            <div class="sp-container">
                <div class="hero-content-eighty text-white">
                    <h2>{{ content.title }}</h2>
                    <div class="event-calendar-navigation">
                        <a href="#" id="previous" class="event-calendar-navigation-item">Predchádzajúci týžden</a>
                        <a href="#" id="next" class="event-calendar-navigation-item">Nasledujúci týžden</a>
                    </div>
                    <div id="event-calendar" class="js-calendar-container"></div>
                </div>
            </div>
        </div>
        {{ include('pages/partial/contact-link.html.twig') }}
    </div>
    <!-- Hero section end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            const eventCalendar = new DayPilot.Calendar("event-calendar", {
                theme: "calendar_green",
                viewType: "Week",
                startDate: DayPilot.Date.today(),
                locale: "sk-sk",
                headerDateFormat: "dddd (dd/MM/yyyy)",
                onEventClick: async args => {
                    var modal = new DayPilot.Modal({
                        onClose: function(args) {
                            initEvents(eventCalendar)
                        }
                    });
                    modal.showUrl('/api/event/modal/' + args.e.data.id);
                },
                onBeforeEventRender: args => {
                    args.data.barBackColor = "transparent";
                    if (!args.data.barColor) {
                        args.data.barColor = "#333";
                    }
                },
            });
            eventCalendar.init();

            const app = {
                elements: {
                    previous: document.getElementById('previous'),
                    next: document.getElementById('next')
                },
                init() {
                    this.addEventHandlers();
                },
                addEventHandlers() {
                    this.elements.previous.addEventListener('click', (ev) => {
                        ev.preventDefault();
                        this.previous();
                    });
                    this.elements.next.addEventListener('click', (ev) => {
                        ev.preventDefault();
                        this.next();
                    });
                },
                previous() {
                    const startDate = eventCalendar.startDate.addDays(-7);
                    eventCalendar.update({startDate: startDate});
                    initEvents(eventCalendar, startDate)
                },
                next() {
                    const startDate = eventCalendar.startDate.addDays(7);
                    eventCalendar.update({startDate: startDate});
                    initEvents(eventCalendar)
                },
            };
            app.init();
            initEvents(eventCalendar);
        })

        async function initEvents(eventCalendar)
        {
            currWeek = eventCalendar.startDate.toString('yyyy-MM-dd');

            $.ajax({
                url: '/api/events/' + currWeek,
                method: 'POST',
                success: function (data) {
                    $.each(data, function () {
                        var eventId = this.id;
                        var eventData = {
                            start: new DayPilot.Date(this.dateTime),
                            end: new DayPilot.Date(this.dateTime).addHours(this.duration),
                            id: this.id,
                            html: '<div class="event-title">' + this.name + '</div><div class="event-allocation-container"><span class="event-allocation" data-event-id="' + this.id + '">' + this.allocation + '</span>/<span class="event-capacity">' + this.capacity + '</span></div>',
                            barColor: "#6aa84f",
                            capacity: this.capacity,
                        };
                        var e = new DayPilot.Event(eventData);
                        daypilotEvent = eventCalendar.events.find(function (e) {
                            return e.id() === eventId;
                        });
                        if (!daypilotEvent) {
                            eventCalendar.events.add(e);
                        } else {
                            daypilotEvent.data.html = eventData.html;
                            eventCalendar.events.update(daypilotEvent);
                        }
                    });
                },
            })
        }
    </script>
{% endblock %}