{% extends "base.html.twig" %}

{% block content %}
    <!-- Hero section -->
    <div class="section fp-auto-height" id="hero-section">
        <div class="section about-section about-one set-bg" data-setbg="{{ asset('img/slider/yoga-7.jpg') }}">
            <div class="sp-container">
                <div class="hero-content-eighty text-white">
                    <h2>{{ content.title }}</h2>
                    <div id="event-calendar" class="row js-calendar-container"></div>
                </div>
            </div>
        </div>
        {{ include('pages/partial/contact-link.html.twig') }}
    </div>
    <!-- Hero section end -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            initEvents();
            const app = {
                elements: {
                    previous: document.getElementById('previous'),
                    next: document.getElementById('next')
                },
                init() {
                    this.addEventHandlers();
                },
                addEventHandlers() {
                    this.elements.previous.addEventListener('click', (ev) => {
                        ev.preventDefault();
                        this.previous();
                    });
                    this.elements.next.addEventListener('click', (ev) => {
                        ev.preventDefault();
                        this.next();
                    });
                },
                previous() {
                    const startDate = eventCalendar.startDate.addDays(-7);
                    eventCalendar.update({startDate: startDate});
                    initEvents(eventCalendar, startDate)
                },
                next() {
                    const startDate = eventCalendar.startDate.addDays(7);
                    eventCalendar.update({startDate: startDate});
                    initEvents(eventCalendar)
                },
            };
        })

        async function initEvents()
        {
            $.ajax({
                url: '/api/events/10/0',
                method: 'POST',
                success: function (data) {
                    $('.js-calendar-container').empty();
                    if (data.length === 0) {
                        $('.js-calendar-container').append(
                            "<div class='event-row no-margin js-event-row col-xs-12 col-md-6'>" +
                            "Aktuálne neprebiehajú žiadné workshopy" +
                            "</div>"
                        );
                    }
                    $.each(data, function () {
                        $('.js-calendar-container').append(
                            this
                        );
                    });
                    var modal = new DayPilot.Modal({
                        height: '600',
                        onClose: function(args) {
                            initEvents()
                        }
                    });

                    $('.js-event-row:not(.disabled)').on('click', function () {
                        var loginUrl = $(this).data('login-url');
                        console.log(loginUrl);
                        if (loginUrl) {
                            window.location.replace(loginUrl);
                            return;
                        }
                        modal.showUrl('/api/event/modal/' + $(this).data('event-id'));
                    })
                },
            })
        }
    </script>
{% endblock %}