.navbar {
  max-width: 100%;
  padding: 1rem 9%;
}

.navbar-nav {
  flex-direction: row !important;
}

.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: lightgray !important;
}

.nav-item {
  padding: 0 0.5rem 0 0 !important;
}

.nav-link {
  color: #fff !important;
  margin: 0 !important;
}

.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  display: block !important;
  position: absolute !important;
  background-color: rgba(256, 256, 256, 0.1);
  color: #fff;
  min-width: unset !important;
  transition: visibility 0s, opacity 0.5s linear;

  &.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.dropdown-item {
  color: #fff !important;
  padding: 2px 20px !important;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: rgba(256, 256, 256, 0.3);
    transition: background-color 0.2s ease-in-out;
  }
}

.event-training {
  background-color: #c7c7c7;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.calendar_green_event_inner {
  .event-allocation-container {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;

    .event-allocation {
      margin-bottom: 0;
      padding: 0 5px;
      font-weight: 400;
    }
    .event-capacity {
      margin-bottom: 0;
      padding: 0 3px;
    }
  }
}

.event-calendar-navigation {
  font-size: 1.3rem;
  margin-bottom: 2rem;

  .event-calendar-navigation-item {
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: all ease-in-out 0.3s;
    }

    &#previous {
      float: left;
      &::before {
        content: "\2190";
      }
    }

    &#next {
      float: right;
      &::after {
        content: "\2192";
      }
    }
  }
}

.calendar_green_event {
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  //color: #fff !important;
  //background: transparent !important;
  //appearance: none;
  transition: all 86400s ease-in-out 0s;
}

.contact-form {
  width: 50%;
  margin: auto;
  margin-top: 3em;
}

.margin-auto {
  margin: auto;
}

.auth-error {
  color: orangered;
}
.auth-success {
  color: green;
}

#auth_actions {
  img {
    width: 20px;
    height: auto;
  }
}

button:disabled {
  color: rgba(255, 255, 255, 0.5);
}

.site-btn:disabled {
  cursor: default;

  &:before, &:after {
    border-color: rgba(255, 255, 255, 0.5);
  }

  span {
    color: rgba(255, 255, 255, 0.5);

    &:before, &:after {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.event-modal-response-ok {
  color: green;
}

.event-modal-response-fail {
  color: red;
}

.calendar_green_corner_inner {
  height: 60px !important;
}

.calendar_green_corner {
  height: 60px !important;
}

.calendar_green_colheader {
  white-space: normal !important;
  height: 60px !important;
}

.calendar_green_cornerright {
  height: 60px !important;
}

.user-notification {
  color: white;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.1);

  &-error {
    color: red;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: rgba(0,0,0,0);
}
.nav-tabs .nav-link {
  background-color: rgba(0,0,0,0);
}

.nav-tabs {
  border-bottom: none;

  .nav-link {
    border: none;

    &:focus:hover {
      border-color: unset;
    }
  }

  a {
    border: none;
    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s ease-in;
    }
  }

  a.active {
    border: none;
    border-bottom: 1px solid transparent;
  }
}

.profile-events-header-container {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}